---
import { fetchGSCblog } from '../../utils/fetchGSCblog';

const posts = await fetchGSCblog();
const limitedPosts = posts.slice(0, 4);
---

<section class="md:px-12 sm:px-8">
  <div class="border-x border-y border-zinc-800">
    <div class="mx-auto 2xl:max-w-7xl items-center w-full">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:items-center gap-px bg-zinc-800">
        <div class="p-8 lg:px-10 bg-black h-full">
          <h2 class="text-3xl tracking-wide xl:text-4xl text-white highlight">
            Join us
          </h2>
          <p class="mt-5 text-white tracking-wide">
            Ensure you stay up to date <span>with our work and analysis.</span>
          </p>
        </div>
        <div class="h-full flex w-full bg-black">
          <a
            href="/subscribe"
            class="flex mx-auto p-8 lg:px-20 w-full justify-between h-full focus:ring-2 bg-zinc-800 rounded-full text-white ease-in-out transform duration-500 ring-inset ring-zinc-800 hover:bg-black text-2xl items-center ring-2"
          >
            Sign up <span>➜</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="md:px-12 sm:px-8">
  <div class="border-x border-b border-zinc-800">
    <h2 class="text-4xl md:text-6xl xl:text-7xl text-white p-10">Updates from the ground</h2>
    <div class="grid grid-cols-1 list-none md:grid-cols-4 gap-px bg-zinc-800">
      {limitedPosts.length > 0 ? limitedPosts.map((post) => (
        <article class="bg-black text-white">
          {post.featuredImage && (
            <img src={post.featuredImage} alt={post.title} class="w-full h-48 object-cover mb-4" />
          )}
          <div class="p-4">
            <a href={post.link} class="text-xl font-semibold link-icon">{post.title}</a>
            <p class="mt-2 text-sm">{post.formattedDate} <br> {post.readingTime} min read</p>
          </div>
        </article>
      )) : <p>Loading...</p>}
    </div>
  </div>
</section>
