---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesTwo from "@/components/blog/EntriesTwo.astro";
import { fetchGSCblog } from "@/utils/fetchGSCblog";

const allPosts = await fetchGSCblog();
const tags = [
  ...new Set(
    allPosts.flatMap(post => {
      if (Array.isArray(post.tags)) {
        return post.tags;
      }
      if (typeof post.tags === 'string') {
        return post.tags.split(',').map(tag => tag.trim());
      }
      // Log unexpected cases
      console.warn(`Unexpected tags format for post: ${post.title || 'Unknown title'}. Tags:`, post.tags);
      return []; // in case post.tags is undefined or another type
    })
  )
].sort(); // Sort tags alphabetically

console.log(`Total unique tags found: ${tags.length}`);
---


<BaseLayout>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-800">
      <div class="p-8 lg:px-10">
        <h2 class="text-4xl md:text-6xl xl:text-7xl text-white">
          Updates & Analysis
        </h2>
      </div>
      <ol role="list" class="flex flex-wrap gap-4 p-8 lg:px-10">
        {tags.map((tag) => (
          <li class="text-zinc-400 text-sm hover:text-white">
            <a href={`/tags/${tag}`}>
              {tag}
            </a>
          </li>
        ))}
      </ol>
      <form
        class="bg-zinc-800 flex flex-col lg:flex-row w-full border-t border-zinc-800">
        <div class="w-full">
          <label
            for="email-address"
            class="sr-only"
            >Email address</label
          >
          <input
            id="email-address"
            name="email-address"
            type="email"
            autocomplete="email"
            placeholder="Your email"
            required
            aria-required="true"
            class="block w-full appearance-none border border-none h-full autofill:bg-zinc-800 p-8 lg:px-10 bg-black placeholder-zinc-500 text-white focus:outline-none focus:ring-blue-400 focus:ring-2 ring-inset"
          />
        </div>
        <div class="bg-black">
          <button
            type="submit"
            class="text-2xl h-24 px-8 lg:h-32 lg:px-20 focus:ring-2 rounded-full hover:bg-blue-400 ease-in-out transform duration-500 ring-inset ring-blue-400 inline-flex items-center font-medium bg-black text-white justify-between ring-2 hover:ring-blue-400 w-full">
            Subscribe <span>➜</span>
          </button>
        </div>
      </form>
    </div>
  </section>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-800">
      <ul
        class="grid grid-cols-1 gap-px bg-zinc-700 lg:grid-cols-4 sm:grid-cols-2">
        {
          allPosts.slice(0, 4).map((post) => (
            <EntriesTwo
              url={post.link}
              title={post.title}
              description={post.excerpt}
              alt={post.title}
              pubDate={post.formattedDate}
              author={post.author}
              image={post.featuredImage}
              readingTime={post.readingTime}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>

