---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCombinedPrisonerData } from "@/utils/prisoner_data.js";

// Fetch the combined prisoner data
const combinedData = await getCombinedPrisonerData();

// Function to format date as MM-DD-YYYY
const formatDate = (date) => {
  const d = new Date(date);
  const month = String(d.getMonth() + 1).padStart(2, '0');
  const day = String(d.getDate()).padStart(2, '0');
  const year = d.getFullYear();
  return `${month}-${day}-${year}`;
};

// Prepare the formatted date
const formattedMostRecentDate = formatDate(new Date());

// Extract data for each category
const politicalPrisoners = combinedData.find(item => item.label === 'Political Prisoners') || { count: 0 };
const femalePrisoners = combinedData.find(item => item.label === 'Female Political Prisoner') || { count: 0 };
const administrativeDetention = combinedData.find(item => item.label === 'Administrative Detention') || { count: 0 };
const lifeImprisonment = combinedData.find(item => item.label === 'Life imprisonment') || { count: 0 };
const minors = combinedData.find(item => item.label === 'Minors') || { count: 0 };
const killedInPrisons = combinedData.find(item => item.label.includes('killed in Israeli political prisons')) || { count: 0 };

const serializedReports = JSON.stringify(combinedData);
---

<BaseLayout
  isBlogPost={true}
  title="Daily Report"
  description="Daily report of settler-colonial violence of Palestinian imprisonment."
>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-200 p-8">
      <div style="max-width: 55rem; margin: 0 auto;">
        <h2
          class="text-4xl md:text-6xl xl:text-7xl font-semibold"
          style="margin-bottom: 2.5rem; margin-top: 4.5rem;"
        >
          Political Prisoners
        </h2>
        <p>
            Imprisonment of Indigenous peoples by colonial forces, by definition, makes them political prisoners due to the inherently political nature of their capture and incarceration. As such, every Palestinian is a political prisoner detained for their opposition to the violence of zionist structures. In the context of settler colonialism, Indigenous individuals captured and jailed were often engaged in resisting the invasion, displacement, and exploitation brought by colonizers. Palestinians are no different: Their resistance, whether through armed struggle, protest, or other means, represented a direct challenge to the colonial agenda. Consequently, their imprisonment serves not as a measure of justice for actual crimes but as a tool to suppress their political opposition and quell resistance to colonial domination. Using a framework of "criminality" when discussing the imprisonment of Palestinians represents a colonial framework of racism that attempts to legitimize mass incarceration as a means of control. 
        </p>
        <h3 class="text-2xl font-semibold mt-8 text-zinc-800">Data for {formattedMostRecentDate}</h3>

        <table class="data-table">
          <thead>
            <tr class="header border-y border-zinc-800">
              <th>Category</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-cell="Category">Political Prisoners</td>
              <td data-cell="Total" class="value">{politicalPrisoners.count}</td>
            </tr>
            <tr>
              <td data-cell="Category">Female Political Prisoners</td>
              <td data-cell="Total" class="value">{femalePrisoners.count}</td>
            </tr>
            <tr>
              <td data-cell="Category">Administrative Detention</td>
              <td data-cell="Total" class="value">{administrativeDetention.count}</td>
            </tr>
            <tr>
              <td data-cell="Category">Life Imprisonment</td>
              <td data-cell="Total" class="value">{lifeImprisonment.count}</td>
            </tr>
            <tr>
              <td data-cell="Category">Minors</td>
              <td data-cell="Total" class="value">{minors.count}</td>
            </tr>
            <tr>
              <td data-cell="Category">Killed in Israeli Prisons</td>
              <td data-cell="Total" class="value">{killedInPrisons.count}</td>
            </tr>
          </tbody>
        </table>

        <p class="pt-8">
          <a href="/data_sheets/prisoner_data.csv"
          download="prisoner_data.csv" >Download as CSV</a>
          &nbsp;|&nbsp;
          <a    
            href="/data_sheets/prisoner_data.xlsx"
            download="prisoner_data.xlsx">Download as Excel</a
          >
          &nbsp;|&nbsp;
          <a
            href="/api/prisoner_data.json"
            >.JSON endpoint</a
          >
        </p>
        <div
          id="chartData"
          data-reports={serializedReports}
          style="display:none;"
        >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
