---
export interface Props {
  title: string;
  url: string;
  description: string;
  pubDate: string;
  author: string;
  image: string;
  readingTime: number;
}

const { title, url, description, pubDate, author, image, readingTime } = Astro.props;
---

<li>
  <a href={url} title={title} class="group">
    <article class="flex-1 h-full flex flex-col bg-black">
      <div class="block w-full lg:col-span-2">
        <img
          class="aspect-[384/246] object-cover bg-center h-full max-w-full"
          src={image}
          alt={title}
        />
      </div>
      <div class="flex flex-col items-start justify-between flex-1 w-full p-8">
        <div class="w-full">
          <div>
            <p class="font-medium text-white">{title}</p>
          </div>
          <p class="mt-2 text-sm text-zinc-400 line-clamp-3">
            {description}
          </p>
        </div>
        <footer>
          <div class="inline-flex flex-col mt-6 space-y-1">
            <div class="inline-flex space-x-1 items-center">
              <p class="text-xs font-medium text-white">
                {author}
              </p>
              <span aria-hidden="true">&middot;</span>
              <div class="flex text-xs text-zinc-500">
                <time datetime={pubDate}>{pubDate}</time>
              </div>
            </div>
            <div class="text-xs text-zinc-500 block">
              {readingTime} min read
            </div>
          </div>
        </footer>
        
      </div>
    </article>
  </a>
</li>