---
// src/layouts/BlogLayout.astro
import BaseLayout from "./BaseLayout.astro";
import InlineEmail from "@/components/global/InlineEmail.astro";

export interface Props {
  title: string;
  date: string;
  readingTime: number;
  featuredImage?: string;
  author?: string;
  excerpt?: string;
  category?: string;
  tags?: string;
}

const { title, date, readingTime, featuredImage, author, excerpt, category, tags } = Astro.props;
---

<BaseLayout isBlogPost={true}>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-800">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-px">
        <div class="border-r border-zinc-800">
          <div class="border-b border-zinc-800">
          <p class="text-zinc-600 mt-2 text-sm flex items-center gap-2 pl-1 p-4 lg:px-10">
            {category && <span>Category: {category}</span>}
            {tags && <span> |  Tags: {tags}</span>}
          </p>
        </div>
        <div class="p-8 lg:px-10">
          <h1 class="text-4xl md:text-6xl xl:text-7xl text-zinc-800 mt-12 font-semibold">
            {title}
          </h1>
          <h3 class="text-xl md:text-2xl xl:text-3xl text-zinc-600 mt-4">
            {excerpt}
          </h3>
          <p class="text-zinc-600 mt-4">
            {date} · {readingTime} min read
          </p>
          <p class="text-zinc-600 mt-2">
            {author && `By ${author}`}
          </p>
        </div>
        </div>
        {featuredImage && (
          <img
            class="h-full w-full object-cover object-center border-l border-zinc-800"
            src={featuredImage}
            alt={title}
          />
        )}
      </div>
    </div>
  </section>

  <section class="md:px-12 sm:px-8">
    <div class="border-x grid grid-cols-1 lg:grid-cols-1 border-t border-zinc-800 gap-px">
      <div class="lg:col-start-1 lg:col-span-1 p-8 lg:px-10">
        <div class="blog-styles mx-auto" style="max-width: 50rem; margin: 0 auto;">
          <slot></slot>
        </div>
      </div>
    </div>
  </section>

  <!-- InlineEmail component to be inserted dynamically -->
  <div id="inline-email-placeholder" class="hidden">
    <InlineEmail />
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const blogContent = document.querySelector('.blog-styles');
      const paragraphs = blogContent.querySelectorAll('p');
      const emailPlaceholder = document.getElementById('inline-email-placeholder').innerHTML;

      if (paragraphs.length > 3) {
        const inlineEmail = document.createElement('div');
        inlineEmail.innerHTML = emailPlaceholder;
        paragraphs[2].insertAdjacentElement('afterend', inlineEmail);
      }
    });
  </script>
</BaseLayout>
